
/* --------Events--------- */

.container2 {
    height: 600px;
    max-width: 1500px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    background-color:white;

}

/* Style for event schedule */

.schedule {
    flex: 1;
}

/* Style for calendar model */

.calendar {
    border: 2px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    height:500px;
    width: 400px;
}
 
.content{
    float: right;
    position: absolute;
    margin-left: 900px;
}

/* Style for event cards */

.event-cards {
    flex: 2;
    width: 300px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    object-fit: cover;
    margin-top: 55px;
}

/* Style for individual event card */

.event-card {
    width: calc(33.33% - 20px);
    margin-bottom: 20px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.event-card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.event-card img {
    width: 100%;
    height: auto;
}