*{
    padding: 0;
    margin: 0;

}

body {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    
   
}

    .gallery {
        padding-left: 1%;
        column-width: 15vh;
        margin-top: 100px;
        display:grid;
        grid-template-columns: repeat(5, 1fr);
        grid-auto-rows: 130px; /* Adjust the height of each row as needed */
        gap: 2px;
        width: 60%;
        
    }
    
    
    .gallery img {
        align-items: center;
        width: 100%;
        height: 100%;
        object-fit:cover;
        border-radius: 4px; /* Optional: adds rounded corners to images */
    
    }
    
    .gallery img:nth-child(odd):nth-child(-n+5) {
        transform: translateY(-50%);
    }
    
    .gallery img:nth-child(even):nth-child(n+5) {
        transform: translateY(50%);
    }
    .gallery img:hover {
        transform: scale(1.05);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }



